MONGO_URI=mongodb://localhost:27017
MONGO_DB=astra

RABBITMQ_URI=amqp://raina:raina@localhost:5672/
RABBITMQ_EXCHANGE=raina.events
EVENTS_ORG=astra
PLATFORM_EVENTS_ORG=platform
CONSUMER_QUEUE_WORKSPACE=platform.workspace.v1

ARTIFACT_SVC_BASE_URL=http://astra-artifact-service:9020

PORT=9027
